*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: hsl(204, 43%, 93%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Karla', sans-serif;
}
.container{
    width: 80%;
    max-width: 75rem;
    background-color: white;
    border-radius: 1rem;

    /* margin: auto; */
}

.container_1{
    display: grid;
    grid-template-columns: 1fr;

    padding: 4rem;
}
h3{
    font-size: 1.5rem;
    padding-bottom: .75em;

}
.colon{
    display: flex;
    flex-direction: column;
}
.container_1--h3{
    color: hsl(71, 73%, 54%);
    
    
}
.container_2{
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
   color: white;

   border-radius: .8rem;

 
   
}
.why{
    background-color :hsl(179, 62%, 43%);
    padding: 4rem;
}
.subscription{
    background-color: hsl(179, 61%, 39%);
    padding:4rem 4rem 0rem 4rem;
}
h2{
     font-size:2rem;/* 20px */
    color: hsl(179, 62%, 43%);
    padding-bottom: 1.2em;
    font-weight:700;
}
p{
    font-size: 1.5rem;
    word-spacing: 1;
    line-height: 1.7;
}
.about_p{
    color:  hsl(218, 22%, 67%);
}
.subscription_p{
    display: flex;
    align-items: center;
    color:  hsl(218, 22%, 67%);
}
.dollar{
    font-size: 2.5em;
    font-weight: 700;
    margin-right: .25em;
    color: white;
}
button{
    background-color: rgb(167, 246, 103);
    font-size: 1.5em;
    font-weight: 500;
    color: white;
    text-align: center;
    padding: 1em 0em;
    width: 100%;
    margin: 2.5em 0em;
    border-radius: .5rem;
    border: transparent;
    box-shadow: 0px 2px 2px 1px hsl(216, 12%, 51%);
}
.why_p{
    color: hsl(204, 43%, 93%);
    font-weight: 500;
}
@media (max-width:375px){
    html{
        font-size: 54%;
    }
    body{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .container_1{
     /* display: grid; */
        padding: 3rem;
    }
    .why{
        padding: 3rem;
    }
    .subscription{
         padding:3rem 3rem 0rem 3rem;
    }
    .about_p{
        display: block;
    }
}